<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_login.css">
    <title>Logowanie</title>
</head>
<body>
<div id="login">
    <hi> Logowanie</h1>
<form action="" method="post">
        <label for="loginID">Login:</label><br>
        <input type="text" name="login" id="loginID"><br>
        <label for="passwordID">Hasło:</label><br>
        <input type="password" name="password" id="passwordID"><br>
        <input type="submit" value="Zaloguj">
        <br>
        <a href="register.php">Zarejestruj się</a>
    </form>
    </div>
</body>
</html>